# Dependencies
node_modules/

# Build output
dist/
out/
*.tgz

# Environment variables (CONTIENT DES SECRETS)
.env
.env.*
!.env.example

# Bun
bun.lockb

# Logs
logs/
*.log

# Cache
.cache/
*.tsbuildinfo

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Database locale (SQLite avant migration Mongo)
*.db
